.nav-underline .navbar-brand,
.nav-underline .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
    color: #6c757d;
}

.nav-underline .nav-link:hover {
    color: #007bff;
}

.nav-underline .active {
    font-weight: 500;
    color: #343a40;
}

.bg-purple {
    background-color: #6f42c1;
}

.table tr td input[type="text"],
.table tr td select {
    margin: 0;
}
.table tr td input[type="text"],
.table tr td select,
.table tr td button {
    padding: 2px 4px;
}

div[id^='rotina-'] table {
    font-size: 10pt;
}

div[id^='rotina-'] table tbody tr td:not(.td-form)
div[id^='rotina-'] table tbody tr.group td {
    padding: 3px 7px;
}
div[id^='rotina-'] table tbody tr td.td-form {
    padding: 3px 0;
}
div[id^='rotina-'] #table-filtro_wrapper .dataTables_scrollHead,
div[id^='rotina-'] #table-formulario_wrapper .dataTables_scrollHead{
    display: none;
}
div[id^='rotina-'] #table-filtro_wrapper .dataTables_scrollBody,
div[id^='rotina-'] #table-formulario_wrapper .dataTables_scrollBody{
    margin-top: 7px;
}
div[id^='rotina-'] table#table-filtro tr td:first-child,
div[id^='rotina-'] table#table-formulario tr td:first-child{
    width: 190px;
}

div[id^='rotina-'] table {
    background: #fff;
}

div.dataTables_scrollBody {
    border-left: none !important;
}

div[id^='rotina-'] div#table-resultado_wrapper table thead th { white-space: nowrap; }